<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Vthanh_ProductLabel::system_label"
             title="Vthanh"
             translate="title"
             module="Vthanh_ProductLabel"
             sortOrder="70"
             resource="Vthanh_ProductLabel::system_label"/>
        <add id="Vthanh_ProductLabel::system_label_listing"
             title="Label Listing"
             translate="title"
             module="Vthanh_ProductLabel"
             sortOrder="25"
             parent="Vthanh_ProductLabel::system_label"
             action="plabel/label/index/"
             resource="Vthanh_ProductLabel::system_label_listing"/>
    </menu>
</config>
