<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Vthanh\ProductLabel\Api\LabelRepositoryInterface"
                type="Vthanh\ProductLabel\Model\Label\LabelRepository"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="label_listing_data_source" xsi:type="string">
                    Vthanh\ProductLabel\Model\ResourceModel\Label\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Vthanh\ProductLabel\Model\ResourceModel\Label\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vthanh_label</argument>
            <argument name="eventPrefix" xsi:type="string">label_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">label_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Vthanh\ProductLabel\Model\ResourceModel\Label</argument>
        </arguments>
    </virtualType>
</config>
